# IntellijIdea files
.idea

# dependencies
/node_modules

# Jest
/jest

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.lock

#prod
public/static/upload/*
!/public/static/upload/file.txt
# keys
# server/config/keys.js

#dist
/dist
dump.rdb


audits
server/cookieStore

pm2/logs
yarn.lock

build/
dist/
node_modules/
.secret-*
